openhab_userdata/
homeassistant/secrets.yaml
homeassistant/home-assistant_v2.db
homeassistant/home-assistant_v2.db.*
homeassistant/.storage
homeassistant/blueprints/
homeassistant/certs/
homeassistant/www/
homeassistant/.HA_VERSION
homeassistant/.uuid
homeassistant/home-assistant_v2.db-shm
homeassistant/home-assistant_v2.db-wal
homeassistant/custom_components/hacs/

domoticz/config/

dehydrated/accounts/

*.log
*.log.*
.cloud/
__pycache__/
