openhab_userdata/
homeassistant/secrets.yaml
homeassistant/home-assistant_v2.db
homeassistant/home-assistant_v2.db.*
homeassistant/.storage
homeassistant/blueprints/
homeassistant/certs/
homeassistant/www
homeassistant/custom_components
homeassistant/.HA_VERSION
homeassistant/.uuid

domoticz/config/

dehydrated/accounts/

*.log
*.log.*
.cloud/
__pycache__/
